*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important
}
.header__link{
    color: rgba(155, 81, 224, 1);
font-weight: 700;
font-size: 32px;
line-height: 22px;
letter-spacing: 1.5px;
transition: .9s;
text-transform: uppercase;
}
.header__link:hover{
    color: rgb(31, 99, 188);
}
.header__links{
    font-weight: 700;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */
    background-color: rgba(188, 188, 188, 1) !important;
letter-spacing: 1.5px;
text-transform: uppercase;
transition: .7s;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.header__links:hover{
    font-weight: 700;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */
    background-color: rgba(155, 81, 224, 1) !important;
letter-spacing: 1.5px;
text-transform: uppercase;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.header__div{
    align-items: center;
    display: flex;
    justify-content: center;
}
.header__list{
    column-gap: 40px;
}
.nav-item{
    font-size: 24px;
    color: rgba(155, 81, 224, 1);
    border-bottom: 3px solid transparent;
    transition: .4s;
    border-radius: 2px;
}
.nav-item:hover{
    border-bottom-color: rgba(155, 81, 224, 1);
    color: rgba(155, 81, 224, 1);
}
.header__nav{
    background: #1F1D2B;
}
.content__link{
    font-weight: 500;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

letter-spacing: 1.5px;
text-transform: uppercase;

color: #BCBCBC;

padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 36px;
padding-right: 37px;
border-radius: 10px;
border: 2px solid #1F1D2B ;
transition: .7s;
}
.header__link2:hover{
    color: #BCBCBC ;
    border: 2px solid rgba(215, 215, 215, 1);
}
.header__link2{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #BCBCBC;
    border: 2px solid #1F1D2B ;
    transition: .7s;
    align-items: center;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 36px;
    border-radius: 10px;
    padding-right: 37px;
    justify-content: center;
}
.header__link3{
    font-weight: 500;
font-size: 12px;
line-height: 22px;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #BCBCBC;
border: 2px solid #1F1D2B ;
transition: .7s;
align-items: center;
display: flex;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 36px;
border-radius: 10px;
padding-right: 37px;
justify-content: center;
}
.header__link3:hover{
    color: #BCBCBC ;
    border: 2px solid rgba(215, 215, 215, 1);
}
.header__form{
column-gap: 6px;
}
.content__text{
    font-weight: 600;
font-size: 72px;
line-height: 82px;
/* or 114% */

letter-spacing: -2px;

color: #FFFFFF;
}
.header__content{
    min-height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F1D2B;
}
.content__text1{
    font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.5px;
color: #E2E2E2;
}
.content__link{
        font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #BCBCBC;
    border: 2px solid #BCBCBC ;
    transition: .7s;
    align-items: center;
    display: flex;
    transition: 0.8s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 36px;
    border-radius: 16px;
    padding-right: 37px;
    justify-content: center;
    }
    .content__link:hover{
        background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
        border-radius: 16px;
        transition: 0.5s;
        border: 2px solid 103.91deg #9B51E0 21.01%, rgba(48, 129, 237, 0.8 100%);
        color: #FFFFFF;
    }
    .content__div2{
        column-gap: 20px;
    }
.col2__fotolist{
    background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
backdrop-filter: blur(1110px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 35.0246px;
min-height: 585px;
max-width: 504px;
align-items: center;
display: flex;
position: relative;
justify-content: center;
}
.col2__fotolist::after{
    width: 123px;
    height: 123px;
    left: 374px;
    top: 400px;
    content: "";
    background: #18B2DE;
    filter: blur(135px);
    position: absolute;
    display: flex;
}
.col2__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.col2__text{
    color: #fff !important;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
margin-bottom: 2px;
color: #FFFFFF;

}
.col2__text1{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

    margin-bottom: 0;

color: #D7D7D7;


}
.col2__img{
    padding-top: 20px;
    min-height: 448px;
    max-width: 447px;
}
.col2__div1{
    column-gap: 10px;
}
.col2__text2{
    font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;

}
.col2__text3{
    margin-bottom: 0;
    color: #fff;
}
.col2__div2{
    display: flex;
    column-gap: 20px;
}
.col1__div::before{
        width: 123px;
        height: 123px;
        left: 641px;
        top: 138px;
        content: "";
        background: #FB37FF;
        filter: blur(135px);
        position: absolute;
        display: flex;
}
.col1__div   {
    position: relative;
}
.auctions{
    background-color: #1F1D2B;
    min-height: 580px;
    padding-top: 40px;
}
.auctions__text{
    font-weight: 500;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */

letter-spacing: -1px;

color: #FFFFFF;
}
.auctions__div{
    align-items: center;
    justify-content: space-between;
}
/* .auctions__div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.auctions__link{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #D7D7D7;
    transition: 0.7s;
}
.auctions__link:hover{
    color: #fff;
}
    .auctions__div2{
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.auction__div{
    align-items: center;
}
.auction__div2{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.auction__div6::after{
    border: 1px solid #C4C4C4;
    display: flex;
    content: "";
}
.auction__div3{
    min-height: 430px;
    max-width: 298px;
}
.auction__text1{
    color: #fff !important;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;

}
.auction__text2{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;

}
.auction__div5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auction__text3{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
margin-bottom: 0;

color: #BCBCBC;
}
.auction__link{
    
border: 1px solid #E2E2E2;
box-sizing: border-box;
border-radius: 8px;
color: #fff;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 20px;
padding-right: 20px;
}
.auction__link:hover{
    color: #fff;
}
.auction__div4{
    align-items: center;
    justify-content: space-between;
}
.auction__div7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Getting__started{
    background: #1F1D2B;
    min-height: 446px;
    padding-top: 100px;
}
.start__text{
    font-weight: 500;
    font-size: 48px;
    line-height: 72px; 
    letter-spacing: -1px; 
    color: #FFFFFF;
}
.start__div{
    display: flex;
    display: flex;
    justify-content: center;
}
.start__div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start__text1{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #E2E2E2;
    letter-spacing: 0.5px;
}
.start__image{
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(74.4293px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 3rem;
    border-radius: 26px;
}

.start__text3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.start__div3{
    max-width: 161px;
}
.start__div5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.start__div6{
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    filter: blur(200px);
    border-radius: 10px;
}
.start__div5::after{
    width: 1292px;
    height: 53px;
    content: "";
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    filter: blur(100px);
    border-radius: 10px;
    position: absolute;
    display: flex;
}
.discover__text{
    display: flex;
    font-weight: 500;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */

letter-spacing: -1px;

color: #FFFFFF;

}
.Discover{
    background: #1F1D2B;
    min-height: 950px;
    padding-top: 100px;
}
.discover__div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.discover__div1{
    display: flex;

}
.discover__div2{
    display: flex;
    justify-content: space-between;
}
.discover__div3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover__text1{
    margin-bottom: 0;
    color: #fff;
}
.discover__dropdown{
    color: #fff;
}
.discover__div5{
    display: flex;
    justify-content: space-between;
}
.discover__div7{
    display: flex;
    justify-content: end;
    align-items: center;
}
.discover__div8{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.discover__div9{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 18px;
    padding-top: 30px;
    padding-top: 10px;
}
.discover__text2{
    margin-bottom: 0;
    color: #fff;
}
.discover__dropdown:hover{
    color: #fff;
}
.auction__link3{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #BCBCBC;
    border: 2px solid #BCBCBC ;
    align-items: center;
    display: flex;
    transition: 0.8s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 36px;
    border-radius: 16px;
    padding-right: 37px;
    max-width: 200px;
    justify-content: center;
}
.auction__link3:hover{
    color: #fff;
}
.auction__div10{
    align-items: center;
    display: flex;
    justify-content: center;
}